**/node_modules/**
**/build/**
**/dist/**
**/lib/**
*.log
/.rpt2_cache
/.vscode
node_modules
size-plugin.json
.env
misc/saucelabs-data.json
/.rollup.cache
*.tsbuildinfo
/examples/jsxstyle-typescript-example/build
/packages/jsxstyle/lib
/packages/jsxstyle/preact/lib
