:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
  }
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}
