---
import { Box } from "@jsxstyle/astro";
import Layout from "../layouts/Layout.astro";
import "../style.css";
---

<Layout title="404: Page not found">
  <Box padding={20} fontSize={28}>
    <p>404: Page not found</p>
  </Box>
</Layout>
