name: Deploy to GitHub Pages

on:
  push:
    paths:
      - 'minisite/**'

  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest
    
    env:
      commitmsg: ${{ github.event.head_commit.message }}

    steps:
      - name: Checkout jsxstyle
        uses: actions/checkout@v3

      - name: Use Node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build minisite
        run: |
          npm run build
          npm -w minisite run export

      - name: Fetch gh-pages branch
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: gh-pages-temp

      - name: Update gh-pages branch
        run: |
          cd gh-pages-temp
          git config user.name github-actions
          git config user.email github-actions@github.com
          git rm -rf .
          cp -r ../minisite/dist/. .
          git add -A
          git commit -m "$commitmsg"
          git push origin HEAD
