name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: 'Build the minisite'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: pnpm

      - run: pnpm install
      - run: pnpm build
      - run: pnpm --filter=@jsxstyle/minisite build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'minisite/dist/'

  deploy:
    name: 'Deploy to GitHub Pages'
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
