name: Release

on:
  push:
    branches:
      - main

jobs:
  canary:
    name: Create and publish a new release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout jsxstyle
        uses: actions/checkout@v2
        with:
          # fetch everything so that we can properly calculate what needs to be published
          fetch-depth: 0

      - name: Use Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "npm"

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit == 'false' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - name: Install dependencies
        run: npm ci

      - name: Run jest
        run: npm test

      - name: Run karma
        run: npm run karma
        env:
          CI: true
          TZ: 'America/Los_Angeles'
          SAUCE_USERNAME: jsxstyle
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

      - name: Configure NPM
        run: |
          npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          npm set username ${{ secrets.NPM_USERNAME }}
          npm set email ${{ secrets.NPM_EMAIL }}

      - name: Create release PR or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: Bump versions
          title: Bump versions
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publishing canary release
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          npm run version:canary
          npm run release:canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
