name: Publish release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-tests:
    name: Run tests
    uses: ./.github/workflows/ci.yml
    secrets:
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: run-tests
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install
      - run: pnpm build

      - name: Create release PR or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: Bump versions
          title: Bump versions
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true

      - name: Publish canary release
        if: ${{ steps.changesets.outputs.published != 'true' && github.event_name == 'push' }}
        run: |
          pnpm version:canary
          pnpm release:canary
        env:
          NPM_CONFIG_PROVENANCE: true
