name: Release

on:
  push:
    branches:
      - main

jobs:
  run-tests:
    name: Run tests
    uses: ./.github/workflows/ci.yml
    secrets:
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

  canary:
    name: Create and publish a new release
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'

      - run: npm install

      - name: Configure NPM
        run: npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}

      - name: Create release PR or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: Bump versions
          title: Bump versions
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publishing canary release
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          npm run version:canary
          npm run release:canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
